{% extends 'base.html' %}
{% load static %} 
{% block content %}
{% load qr_code %}



    <!-- HOME -->
    <head>
  <link rel="stylesheet" href="{% static 'bootstrap3/boot.css' %}">
  <link rel="stylesheet" href="{% static  'profile_style/style.css' %}">
  <script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
</head>
    <section class="section-hero overlay inner-page bg-image" style="background-image: url('{% static 'images/hero_1.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="text-white font-weight-bold">{{ applicant.get_full_name }}</h1>
            <div class="custom-breadcrumbs">
              <a href="{% url 'jobapp:home' %}">Home</a> <span class="mx-2 slash">/</span>
              <span class="text-white"><strong>Applicant</strong></span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="card_profile">
      <div class="position-relative">
        {% qr_from_text "Hello World!" size="T" %}
        
          <div class="profile-img">
          {% if applicant.profile.profile_picture %}
          <img src="{{applicant.profile.profile_picture.url}}" class="avatar img-circle img-thumbnail" alt="avatar">
          {% else %}
          <img src="{% static 'images/default_profile_picture.png' %}" class="avatar img-circle img-thumbnail" alt="avatar">
          <h6>Profile photo...</h6>
          {% endif %}
              <div>
                <b><h2 style="font-family: monospace;">{{applicant.first_name}} {{applicant.surname}} {{applicant.last_name}}</h2></b> 
              </div>
          </div>
      </div>
      <div></div>
          <form action="{% url 'account:edit-profile' request.user.id %}">
              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>ID NO:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.idnumber}}</label>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <b><label>PHONE NO:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.phone_number}}</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>EMAIL:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.email}}</label>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <b><label>TRIBE:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.Tribe}}</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>COUNTY:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.county}}</label>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <b><label>SUB COUNTY:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.subcounty}}</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>DIVISION:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.Division}}</label>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <b><label>GRADE:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.mean_grade}}</label>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>ID FRONT</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                          {% if applicant.profile.id_front %}
                          <div class="panel-body"><a href="{{applicant.profile.id_front.url}}"> Front</a></div>
                          {% endif %}
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <b><label>ID BACK:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      {% if applicant.profile.id_back %}
                      <div class="panel-body"><a href="{{applicant.profile.id_back.url}}">Back</a></div>
                      {% endif %}
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>K.C.S.E certificate:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      {% if applicant.profile.ksce_cert %}
                      <div class="panel-body"><a href="{{applicant.profile.ksce_cert.url}}">K.S.C.E</a></div>
                      {% endif %}
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <b><label>Resume:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      {% if applicant.profile.resume %}
                      <div class="panel-body">Resume:<a href="{{applicant.profile.resume.url}}"> Resume</a></div>
                      {% endif %}
                  </div>
              </div> 
              <div class="row">
                  <div class="col-md-3 col-sm-3">
                      <b><label>Serial Number:</label></b>
                  </div>
                  <div class="col-md-3 col-sm-3">
                      <label>{{applicant.profile.emp_id}}</label>
                  </div> 
              </div>
              <div class="row">
                  <div class="col-md-4 col-sm-3">
                    <b><label>qrcode</label></b>
                </div>
                <div class="col-md-3 col-sm-3">
                    {% if applicant.profile.qrcode %}
                    <img src="{{ applicant.profile.qrcode.url }}" alt="QR code" />
                    {% endif %}
                </div> 
              </div>
              <div class="row">
                <div class="col-md-7">
                <p><a href="mailto:{{ applicant.email }}" class="btn btn-primary btn-md mt-4">Contact by Email</a></p>
                <!-- <p><i class="fa fa-phone fa 2x"></i><a href="tel:{{applicant.mobile_phone }}" onclick="ga(&#39;send&#39;,&#39;event&#39;,
                  {eventCategory: &#39;Contact&#39;,eventAction:&#39;Call&#39;, eventLabel: &#39;Mobile Button&#39;});">Phone</a></p> -->
                </div>
                <div class="col-md-3">
              <p><a href="{% url 'outbox' %}" class="btn btn-primary btn-md mt-4">Contact by Sms</a></p>
      
                </div>
            </div>
          <div id="qr-reader" style="width: 600px"></div>   

          </form> 
   </div>
   <script src="text/javascript">
        function onScanSuccess(decodedText, decodedResult) {
        console.log(`Code scanned = ${decodedText}`, decodedResult);
        }
        var html5QrcodeScanner = new Html5QrcodeScanner(
        "qr-reader", { fps: 10, qrbox: 250 });
        html5QrcodeScanner.render(onScanSuccess);
   </script>
{% endblock %}